{% extends "master.twig" %}

{% block title %} Fab - Contact {% endblock title %}

{% block content %}

<div class="main-wrapp start-line time-line" style="padding: auto 10px;">
    {#<div class="container">#}
        <div class="padd-80">
            <div class="row">
                <div class="col-md-12">
                    <div class="second-heading" style="height: 500px;">
                        <div class="leyer-title"></div>
                        <div class="clip">
                            <div class="bg bg-bg-chrome" style="background: url(/images/about.jpg) no-repeat fixed center; background-size: 90%; opacity: 0.8; ">
                            </div>
                        </div>
                        <div class="vertical-align">
                            <div class="second-heading-txt">
                                <h2>ABOUT</h2>
                                <div class="separ"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padd-80">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="about-item" style="padding: 20px;">
                        <h4>ABOUT FAB GRAPHICS</h4>
                        <p>We are a company of graphics art, advertising applications, and digital printing focused on modern business needs. Our name and logo is inspired by Faber, our playful cat that watches our every activity.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="about-item">
                        <h4>WHAT WE DO</h4>
                        <p>Aiming to provide full-range in graphic design services, our products are based on digital illustration and free design, inspired by hand-drawn sketches.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="padd-80" style="padding: 20px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="subtitle" style="text-align: center;">
                        <h3>OUR SERVICES</h3>
                        <p>We offer a wide range of services. Here are some.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="servis-block">
                        {#<i class="fa fa-print fa-border fa-4x" aria-hidden="true"></i>#}
                        <img style="max-width: 150px; max-height: 120px" src="/images/ill1.png"/>
                        <h4>Branding</h4>
                        <p>Corporate Identity Design.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="servis-block">
                        {#<i class="fa fa-print fa-border fa-4x" aria-hidden="true"></i>#}
                        <img style="max-width: 150px; height: 120px" src="/images/ill5.png"/>
                        <h4>Web Design</h4>
                        <p>Web Graphic Design - UI</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="servis-block">
                        {#<i class="fa fa-laptop fa-border fa-4x" aria-hidden="true"></i>#}
                        <img style="max-width: 150px; max-height: 120px" src="/images/ill3.png"/>
                        <h4>Packaging</h4>
                        <p>Graphic Communication on any Package.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="servis-block">
                        {#<i class="fa fa-print fa-border fa-4x" aria-hidden="true"></i>#}
                        <img style="max-width: 150px; max-height: 120px" src="/images/ill4.png"/>
                        <h4>Illustrations</h4>
                        <p>Hand-Drawn Illustrations.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="servis-block">
                        {#<i class="fa fa-laptop fa-border fa-4x" aria-hidden="true"></i>#}
                        <img style="max-width: 150px; max-height: 120px" src="/images/ill3.png"/>
                        <h4>Packaging</h4>
                        <p>Graphic Communication on any Package.</p>
                    </div>
                </div>
                <div style="margin-top: 20px;" class="col-md-4 col-sm-6 col-xs-12">
                    <div class="servis-block">
                        {#<i class="fa fa-picture-o fa-border fa-4x" aria-hidden="true"></i>#}
                        <img style="max-width: 150px; max-height: 120px" src="/images/ill6.png"/>
                        <h4>Decals</h4>
                        <p>Customization Graphics for Car/Motorcycle </p>
                    </div>
                </div>
            </div>
        </div>

    {#</div>#}
</div>

{% endblock content %}