{% extends "master.twig" %}

{% block title %} Fab - Contact {% endblock title %}

{% block content %}

<div class="main-wrapp">
    <div class="container">
        <div class="padd-80">
            <div class="row">
                <div class="col-md-12">
                    <div class="second-heading">
                        {#<div class="leyer-title"></div>#}
                        {#<div class="clip">#}
                            <div class="bg bg-bg-chrome" style="background: url(/images/contact-back.png) no-repeat fixed center; background-size: contain; opacity: 0.1; position: fixed; top: 15%;">
                            </div>
                        </div>

                        <div class="vertical-align">
                            <div class="second-heading-txt">
                                <h1 style="color: #000;">Contact us</h1>
                                <div class="separ" style="background-color:black;"></div>
                            </div>
                        </div>
                    {#</div>#}
                </div>
            </div>
        </div>

        <div class="padd-80">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="subtitle">
                                <h4>Get in touch</h4>
                            </div>
                            <p>Feel free to contact us (or visit us) either for helping with your business needs or just asking our advice. We promise to get back to you within 24 hours. <i class="fa fa-smile-o" aria-hidden="true"></i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="adress-block">
                                <h5>Email</h5>
                                <a href="mailto:">support@fabgraphics.com</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="adress-block">

                                <h5>Phone</h5>
                                <a href="tel:">+30 211 01 28 271</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="adress-block">
                                <h5>Address</h5>
                                <ul>
                                    <li>Agiou Ioannou 102</li>
                                    <li>Agia Paraskeui</li>
                                    <li>Athens, 15342</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contact-form">

                        <div class="subtitle">
                            <h4>Shoot us an email!</h4>
                            {% if result.success == 1 %}
                                <h4 style="color: forestgreen">{{ result.message }}</h4>
                            {% elseif result.success == 0 %}
                                <h4 style="color: tomato">{{ result.message }}</h4>
                            {% endif %}
                        </div>

                        <form action="/contact" method="post" name="contactform">
                            <input type="text" placeholder="Name" name="name" required>
                            <input type="email" placeholder="Email" name="email" required>
                            <input type="text" placeholder="Subject" name="subject" required>
                            <textarea placeholder="Message.."  name="message" required></textarea>
                            <input type="submit" value="send message" name="submit">
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="map">
    <div class="map-canvas" id="map-canvas-contact" data-lat="38.003792" data-lng="23.830183" data-zoom="14" data-style="style-1">
    </div>
</div>

{% endblock content %}

{#<footer>#}
    {#<div class="copyright">#}
			{#<span>&copy; 2015 <b>Acerola Template</b> All right reserved.<br>#}
				{#Template by <a href="http://freshfruits.us/">freshfruits</a></span>#}
    {#</div>#}
{#</footer>#}
