<!DOCTYPE HTMl>
<html>
<head>
    <title> Fab Graphics | 404 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/error404.css" type="text/css" media="all"/>
    <link href='//fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>

<div class="wrap">
    <!---728x90--->
    <div style="text-align: center;">

        <h1 style="text-align: center;">Fab Graphics</h1>

        <div class="banner"><img src="/images/fuel-404-logo.png" alt=""/></div>

        <div class="search">
            <form action="/" method="get">
                <input type="text" value="" placeholder="Back to Fab Graphics" disabled/>
                <input type="submit" value=""/>
            </form>
        </div>

        <div class="copy">
            <p> All rights reserved | Design by Fab Graphics
        </div>
    </div>
</div>

</body>
</html>    

