<!-- SITE TITTLE -->
<meta charset="utf-8">
<title>Fab Graphics</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta name="generator" content="HTML5 Template">
<meta name="format-detection" content="telephone=no" />

{#THEME 2 CSS STYLE#}
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- THEME CSS STYLE -->
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link href="/css/stylePortfolio.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- OTHER CSS STYLE -->
<link rel="stylesheet" type="text/css" href="/css/royal_preloader.css">
<link rel="stylesheet" type="text/css" href="/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/animate.css">
<link rel="stylesheet" type="text/css" href="/css/mb-comingsoon.css">
<link rel="stylesheet" type="text/css" href="/css/fontastic.css">
<link rel="stylesheet" type="text/css" href="/css/mycss.css">

<link href="/css/magnific-popup.css" rel="stylesheet"/>

<!-- FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

<!-- APPLE TOUCH ICON -->
<link rel="apple-touch-icon" href="/images/webclip.png">

<!-- Font Awesome -->
<script src="https://use.fontawesome.com/1c61970b03.js"></script>


