{% extends "master.twig" %}

{% block title %} Fab Graphics {% endblock title %}

{% block content %}

    <div id="fullpage" class="fpage">

        {% for image in images %}
            <div style="background-image: url('/images/carousel/{{ image.name }}');
                    background-position: 50% 100%;
                    background-size: cover;
                    background-repeat: no-repeat;"
                 class="w-section section ">
                <div class="section-overlay"></div>
                <div class="full-content">
                    <div class="w-container container-contact">
                        <div>
                            {% if image.description is not null %}
                            <div id="element2" class="inner-title smaller">
                                    {{ image.description }}
                            </div>
                            <div><img src="/images/sub-handmade-c.png" alt="handmade">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock content %}
