<!DOCTYPE html>
<html lang="en-US">
<head>

    {% block head %}
        {{ include('head.twig') }}
        <title> {% block title %}{% endblock %} </title>
    {% endblock %}

</head>
<body class="royal_preloader animsition">

    {{ include('nav.twig') }}
    {% block content %} {% endblock content %}


{% block footer %}
    {{ include('footer.twig') }}
{% endblock %}

</body>
</html>