
<!-- ROYAL PRELOADER -->
<div id="royal_preloader"></div>

<!-- TOP BORDER -->
<div class="top-border">
    <div class="w-row">
        <div class="w-col w-col-3 w-clearfix">
            <a href="/" class="w-inline-block brand-logo animsition-link"><img class="theLogo" width="100" src="images/logo.jpg" alt="logo">
            </a>
        </div>
        <div class="w-col w-col-9 w-clearfix">
            <div data-ix="show-menu-type-2" class="menu-type-2">
                <div class="w-embed">
                    <button class="c-hamburger c-hamburger--htx">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>

            <!-- NAVIGATION -->
            <nav data-ix="hide-menu-type-2-on-load" class="navigation-type-2">
                <ul class="w-list-unstyled">
                    <li class="li-menu-type-2">
                        <a href="/" data-ix="show-line-menu-type-2" class="w-inline-block link-nav-2 animsition-link">
                            <div>home</div>
                        </a>
                        <div data-ix="line-menu-type" class="line-bottom-menu"></div>
                    </li>
                    <li data-ix="show-dropdown" class="w-clearfix li-menu-type-2">
                        <a href="/portfolio" data-ix="show-line-menu-type-2" class="w-inline-block link-nav-2">
                            <div>portfolio</div>
                        </a>
                        <div data-ix="line-menu-type" class="line-bottom-menu"></div>
                        {#<ul class="w-list-unstyled dropdown-down-2">#}
                            {#<li>#}
                                {#<a href="projects-3-columns.html" class="w-inline-block dropdown-link animsition-link">#}
                                    {#<div>Projects 3 Columns</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="projects-4-columns.html" class="w-inline-block dropdown-link animsition-link">#}
                                    {#<div>Projects 4 Columns</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="projects-5-columns.html" class="w-inline-block dropdown-link animsition-link">#}
                                    {#<div>Projects 5 Columns</div>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    </li>
                    <li class="li-menu-type-2">
                        <a href="/about" data-ix="show-line-menu-type-2" class="w-inline-block link-nav-2 animsition-link">
                            <div>about</div>
                        </a>
                        <div data-ix="line-menu-type" class="line-bottom-menu"></div>
                    </li>
                    <li class="li-menu-type-2">
                        <a href="/contact" data-ix="show-line-menu-type-2" class="w-inline-block link-nav-2 animsition-link">
                            <div>contact</div>
                        </a>
                        <div data-ix="line-menu-type" class="line-bottom-menu"></div>
                    </li>
                </ul>
            </nav><!-- END NAVIGATION -->
        </div>
    </div>
</div>

<!-- LEFT BORDER -->
<div class="left-border"></div>

<!-- RIGHT BORDER -->
<div class="right-border"></div>

<!-- BOTTOM BORDER -->
<div class="bottom-border">
    <div class="w-row">
        <div class="w-col w-col-6">
            <div class="align-left">
                <a href="#" class="w-inline-block social-icon facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="w-inline-block social-icon twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="w-inline-block social-icon behance">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#" class="w-inline-block social-icon instagram">
                    <i class="fa fa-behance"></i>
                </a>
            </div>
        </div>
        <div class="w-col w-col-6">
            <div class="w-hidden-medium w-hidden-small w-hidden-tiny title-top-border">
                <div style="color: grey">FAB GRAPHICS &copy; 2015.&nbsp;ALL RIGHTS RESERVED.</div>
            </div>
        </div>
    </div>
</div>

<!-- RESPONSIVE NAVIGATION -->
<div class="w-hidden-main">
    <div class="responsive-menu">
        <div class="w-container">
            <a href="/" class="w-inline-block brand-logo more-margin animsition-link"><img class="theLogo" width="100" src="images/logo.jpg" alt="logo-art">
            </a>
            <div data-ix="open-responsive-menu" class="hamburger">
                <div class="w-embed">
                    <button class="c-hamburger c-hamburger--htx">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="responsive-nav">
        <div class="w-container">
            <ul class="w-list-unstyled dd-big-res">
                <li>
                    <div class="w-clearfix nav-res-link"><a href="/" class="res-txt animsition-link">home</a>
                    </div>
                </li>
                <li>
                    <div class="w-clearfix nav-res-link"><a href="/portfolio" class="res-txt animsition-link">portfolio</a>
                    </div>
                </li>
                <li>
                    <div class="w-clearfix nav-res-link"><a href="/about" class="res-txt animsition-link">about</a>
                    </div>
                </li>
                {#<li>#}
                    {#<div data-ix="open-dd-res" class="w-clearfix nav-res-link"><a href="#" class="res-txt">projects</a>#}
                        {#<a href="#" class="w-inline-block arrow-ico-res">#}
                            {#<div class="w-embed"><i class="fa fa-angle-down"></i>#}
                            {#</div>#}
                        {#</a>#}
                    {#</div>#}
                    {#<ul class="w-list-unstyled dd-res">#}
                        {#<li>#}
                            {#<div class="w-clearfix nav-res-link"><a href="projects-3-columns.html" class="res-txt change-size animsition-link">Projects 3 columns</a>#}
                            {#</div>#}
                        {#</li>#}
                        {#<li>#}
                            {#<div class="w-clearfix nav-res-link"><a href="projects-4-columns.html" class="res-txt change-size animsition-link">Projects 4 Columns</a>#}
                            {#</div>#}
                        {#</li>#}
                        {#<li>#}
                            {#<div class="w-clearfix nav-res-link"><a href="projects-5-columns.html" class="res-txt change-size animsition-link">Projects 5 Columns</a>#}
                            {#</div>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                <li>
                    <div class="w-clearfix nav-res-link"><a href="/contact" class="res-txt animsition-link">Contact</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END RESPONSIVE NAVIGATION -->