{% extends "master.twig" %}

{% block title %} Fab - Contact {% endblock title %}

{% block content %}

    <div class="main-wrapp single-item-wrap">
        <div class="container">
            <div class="padd-80">
                <div class="row">
                    <div class="col-md-12">
                        <div class="swiper-slide">
                            <img src="/images/{{ item.image|e }}" alt="(Image of the Item)">
                        </div>
                    </div>
                </div>
            </div>

            {#<div class="padd-80 fl">#}
                {#<div class="row">#}
                    {#<div class="col-md-4">#}
                        {#<div class="det-img">#}
                            {#<img src="/images/detail_image_1.jpg" alt="">#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-4">#}
                        {#<div class="det-img">#}
                            {#<img src="/images/detail_image_2.jpg" alt="">#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-4">#}
                        {#<div class="det-img">#}
                            {#<img src="/images/detail_image_3.jpg" alt="">#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            <div class="padd-80 fl">
                <p>
                    <span>{{ item.description|e }}</span>
                </p>
            </div>

            <div class="project-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="left-arrow-nav">
                            <a href="/portfolio/{{ previousItem.urlName }}"><span>Previous Project</span></a>
                        </div>
                        <div class="right-arrow-nav">
                            <a href="/portfolio/{{ nextItem.urlName }}"><span>Next Project</span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}