{% extends "master.twig" %}

{% block title %} Fab - Contact {% endblock title %}

{% block content %}

        <div class="main-wrapp single-item-wrap">
            <div class="container">
                <div class="padd-80">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="swiper-slide">
                                <img src="/images/{{ item.image|e }}" alt="(Image of the Item)">
                            </div>
                        </div>
                    </div>
                </div>

                {#<div class="padd-80 fl">#}
                {#<div class="row">#}
                {#<div class="col-md-4">#}
                {#<div class="det-img">#}
                {#<img src="images/detail_image_1.jpg" alt="">#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                {#<div class="det-img">#}
                {#<img src="images/detail_image_2.jpg" alt="">#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4">#}
                {#<div class="det-img">#}
                {#<img src="images/detail_image_3.jpg" alt="">#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}

                <div class="padd-80 fl">
                    <p><span>{{ item.description|e }}</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate temporibus veniam porro dolore nobis! Vitae vero magnam pariatur quibusdam quasi at unde maxime similique, cupiditate delectus. Maiores omnis, blanditiis cum.</span>
                        <span>Aliquam officia delectus vero, cupiditate quam quo voluptate unde labore, beatae, laudantium dicta accusantium. Doloremque a mollitia, sunt rem quas tempore, molestias sed eius dolor soluta optio quo dignissimos, nobis!</span>
                        <span>Praesentium quibusdam nam repudiandae voluptate, reiciendis omnis magni voluptatem quia, qui fugiat laborum, distinctio libero itaque ducimus corporis. Labore, ipsam iste, cumque distinctio recusandae et aut praesentium velit explicabo asperiores.</span>
                        <span>Nemo laboriosam tenetur impedit sed dolorem temporibus sint laudantium suscipit corporis, eum excepturi. Magni itaque, culpa excepturi dolore, explicabo illum nihil dolores incidunt eius nobis eligendi. Voluptatum sint dolore magni?</span>
                    </p>
                </div>

                <div class="project-nav">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-arrow-nav">
                                <a href="/portfolio"><span>Previous Project</span></a>
                            </div>
                            <div class="right-arrow-nav">
                                <a href="/portfolio"><span>Next Project</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock content %}